{% extends "base.html" %}

<!-- БЛОК Контент -->
{% block title %} В Красках. ({{ category.name }}){% endblock %}

{% block content %}
{% if category.name == "Английский язык" %}
<div class="container">
  <div class="row">
    <div class="col">
        <h3>{{ category.name }}</h3>
        Детство - благоприятное время для изучения иностранного языка! Родители, не упустите это золотое время и приводите Вашего ребенка на курсы английского языка для детей как можно раньше. У детей еще нет ментального барьера. Дети не боятся ошибаться и воспринимают иностранный язык как родной. Чем раньше ребенок начинает изучать иностранный язык, тем эффективнее и легче происходит восприятие английского на интуитивном уровне. Дети по достижению школьного возраста становятся билингвами, то есть могут говорить на двух языках. Такие дети получают огромное преимущество в своем развитии. Они могут приступить к изучению еще одного иностранного языка.
    </div>
    <div class="col">
      <img src="{{ category.photo_url }}" class="card-img-top" alt="изображение">
    </div>
  </div>
    <br>
    <br>
    <div class="text-center">
        <a href="{% url 'call_back' %}" class="btn btn-warning btn-lg">Записаться на курс</a>
    </div>
</div>


{% elif category.name == "Рисование" %}
<div class="container">
  <div class="row">
    <div class="col">
        <h3>{{ category.name }}</h3>
        Курс ориентирован на детей с любым уровнем начальной подготовки и предполагает глубокое и всестороннее изучение художественного мастерства. Комплексная программа обучения включает урок рисунка карандашом, живопись (акварель, акрил, темпера, масло), графику и композицию.
        <div>ПРОГРАММА ЗАНЯТИЙ:
          <li>Начальные навыки: постановка руки, пропорции, изображение простых форм, формирование объема, свет, тень, полутень, рефлекс</li>
          <li>Перспектива: линейная, обратная, сферическая</li>
          <li>Изучение и отработка различных видов штриха: косой штрих, разнонаправленный штрих, штрих сеточкой, штрих по форме</li>
          <li>Работа с формой: трансформация и стилизация природных форм, пластика формы, придание выразительности образу, творческая работа с формой</li>
          <li>Натюрморт в карандашной технике: построение, компоновка, анализ тональных отношений, анализ планов, специальные приемы</li>
          <li>Фактура: приемы изображения различных видов фактур, изображение сложных фактур</li>
          <li>Драпировка: общие принципы построения изображения.
        </div>
    </div>
    <div class="col">
      <img src="{{ category.photo_url }}" class="card-img-top" alt="изображение">
    </div>
  </div>
    <br>
    <br>
    <div class="text-center">
        <a href="{% url 'call_back' %}" class="btn btn-info btn-lg">Записаться на курс</a>
    </div>
</div>


{% elif category.name == "Танец" %}
<div class="container">
  <div class="row">
    <div class="col">
        <h3>{{ category.name }}</h3>
        Танцы для детей — это и грациозность, красивая осанка, крепкий иммунитет, уверенность в себе и расширение круга общения с раннего возраста.
        Знакомство с хип-хоп, джаз-фанк и другими направлениями танца можно начать с нуля. Каждая тренировка — строится по определенной схеме: разминка, изучение новых элементов, постановка танцевального номера и закрепление пройденного. Ребята смогут участвовать в соревнованиях, отчетных концертах, выездных мероприятиях и не только.
        <br>Цели курса:
            <li>Освоить хореографическую базу и технику по следующим направлениям: hip-hop, jazz-funk, vogue.</li>
            <li>Развитие гибкости, пластики, музыкальности, чувства ритма и артистичности.</li>
            <li>Развитие памяти на движения, развитие внимания, умение согласовывать движения танца с музыкой.</li>
            <li>Формирование умения эмоционального выражения через танец.</li>
            <li>Совершенствование физических качеств: развитие мышечной силы, гибкости, выносливости, скоростно-силовых и координационных способностей.</li>
    </div>
        <div class="col">
          <img src="{{ category.photo_url }}" class="card-img-top" alt="изображение">
        </div>
  </div>
    <br>
    <br>
    <div class="text-center">
        <a href="{% url 'call_back' %}" class="btn btn-success btn-lg">Записаться на курс</a>
    </div>
</div>


{% elif category.name == "Шахматы" %}
<div class="container">
  <div class="row">
    <div class="col">
        <h3>{{ category.name }}</h3>
        Сегодня шахматы возвращают себе свою былую популярность. В 21 веке шахматы могут помочь ребёнку во многих аспектах обучения и развития, так как ключевым преимуществом является то, что игра обучает ребёнка думать на перспективу и использовать, необходимые для достижения цели, ресурсы максимально продуктивным образом. Игра в шахматы – это своего рода бизнес-модель мира, где ребята учатся выигрывать, принимать поражение или соглашаться на временный компромисс. Игра формирует правильное отношение к достижению целей и учит достойно принимать проигрыш. В комплексе все эти плюсы необходимы современному ребёнку для достижения успеха. Все эти навыки, полученные на занятии дополняются и закрепляются посредством уникального шахматного онлайн-тренажера. В процессе обучения коллектив наших преподавателей поможет выявить и раскрыть уникальные способности Вашего ребёнка!
    </div>
    <div class="col">
      <img src="{{ category.photo_url }}" class="card-img-top" alt="изображение">
    </div>
  </div>
    <br>
    <br>
    <div class="text-center">
        <a href="{% url 'call_back' %}" class="btn btn-danger btn-lg">Записаться на курс</a>
    </div>
</div>


{% endif %}

{% endblock %}