{% extends "base.html" %}

<!-- Блок Заголовка -->
{% block title %}Изоcтудия "В КРАСКАХ"{% endblock %}
<!-- Блок Контента -->
{% block content %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/images/child.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/images/child2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/images/child3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

{% endblock %}