{% extends "base.html" %}

<!-- Блок Заголовка -->
{% block title %}Наши правила "В КРАСКАХ"{% endblock %}
<!-- Блок Контента -->
{% block content %}
<p><b>Детский центр открыт для Вас в будние дни с 10.00 до 20.00. В субботу с 10.00 до 17.00.</b></p><br>
<i>
<li>Занятия проходят в индивидуальной и групповой форме. Группы комплектуются по возрасту (+/- несколько месяцев), уровню подготовки, требованию родителей.</li>
<li>В нашем центре постоянно поддерживается порядок, поэтому Вашему ребенку необходимо на занятии приносить сменную обувь. Для родителей присутствующих на занятиях с детьми так же необходима сменная обувь или бахилы. На занятие запрещается приносить личные вещи ребенка (игрушки, книги и т.д.).</li>
<li>Если Вы хотите убедиться, что Вашему ребенку будет у нас хорошо, – приглашаем Вас посетить пробное занятие, которое дает представление о нашей работе. Просим Вас записываться заранее для регистрации и резервирования места в группе.</li>
<li>Для того чтобы начать занятия, необходимо заключить с нами договор и оплатить первый месяц занятий (мы принимаем наличные белорусские рубли или на расчётный счёт). Это является подтверждением того, что Вы записаны в группу и можете приступать к занятиям.</li>
<li>За каждый последующий месяц обучения оплата производится не позднее 25 числа текущего месяца. Если Вы не производите оплату в установленный срок, мы, к сожалению, не можем гарантировать наличие места в группе в следующем месяце и в случае поступления в группу нового ученика, слушателю, не оплатившему обучение в срок, может быть предоставлена возможность посещать занятия по другому расписанию.</li>
</i>
<p><br>
Будем рады ответить на все ваши вопросы по тел. +375 29 666-22-82

{% endblock %}